@model Article

<div class="col s12 m6 l4">
    <div class="card large sticky-action hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" onerror="this.src='/res/400x200.png'" src="@(Model.UrlToImage?.ToString() ?? "/res/400x200.png")" alt="@Model.Title">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">@Model.Title<i class="material-icons right">more_vert</i></span>
            <p>@Model.PublishedAt.Humanize()</p>
        </div>
        <div class="card-action"><a href="@Model.Url" target="_blank" class="deep-purple waves-effect waves-light btn right"><i class="material-icons right">send</i>Source</a></div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">@Model.Title<i class="material-icons right">close</i></span>
            <p>@Model.Content.</p>
        </div>
    </div>
</div>